.nav {
    display: flex;
    align-items: center;
    background-color: khaki;
    padding: 1em;
    margin-bottom: 2em;
}

.logo {
    font-size: 2em;
    color: green;
    margin-right: 1rem;
}

.title {
    font-size: 3em;
    margin: 0;
}

.count {
    font-size: 2em;
    color: white;
    background-color: green;
    margin-left: 1em;
    border-radius: 50%;
    padding: 0 0.5rem;
}
